/* Reset CSS */
* {
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    border:0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

/* HEADER */
.principal-header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #023D71;
    color: white;
    padding: 16px 0;
    width: 100%;
}

.principal-header div{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.email-academico div{
    flex-direction: column;
    margin-right: 20px;
    font-weight: bold;
}

.principal-header img{
    width: 162px;
    height: 50px;
    margin-right: 30px;
    margin-left: 20px;
}

.logout-btn{
    background-color: #dc3545;
    color: white;
    padding: 0 10px;
    height: 40px;
    width: auto;
    border-radius: 5px;
    font-size: 15px;
    margin-right: 20px;
    cursor: pointer;
    transition: 0.5s;
}

.logout-btn:hover{
    background-color: #9c2632;
}

.logout-btn2{
    display: none;
}

.fa-sign-out{
    font-weight: bold;
    margin-right: 5px;
}

.main-in{
    display: flex;
    justify-content: flex-start;

    background-color: #3292f9;
    padding: 8px 0;
    width: 100%;
}

.main-in a{
    color: white;
    text-decoration: none;
    padding: 8px 16px;
    font-size: 17px;
    transition: 0.4s;
}

.main-in a:hover{
    color: rgb(230, 230, 230);
    text-shadow: 0 0 5px rgba(0, 0, 0, .3);
}

section{
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.row{
    width: 98%;
    height: 254px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 25px;
}

.card{
    border-radius: 5px;
    color: #3292f9;
    background-color: #f1f1f1;
    height: 230px;
    box-shadow: 3px 3px 10px #bbb;
    cursor: pointer;
    transition: 0.5s;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}

.card:hover{
    color: #013e6d;
    box-shadow: 1px 1px 20px #bbb;
}

.card-top{
    padding: 12px 20px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-top i{
    font-size: 60px;
}

.card-bottom{
    padding: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}

footer{
    padding: 16px 0;
    width: 100%;
    text-align: center;
    color: rgba(255, 255, 255, .5);
    background: linear-gradient(135deg,#07366a 0,#003c7f 100%);
    font-size: 14px;

    position: absolute;
    bottom: 0;
}

footer a{
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-size: 16px;
}

footer a:hover{
    color: #f5f53f;
    text-decoration: underline;
}

@media(max-width: 1024px){
    .row{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        width: 97%;
    }
}

@media(max-width: 800px){
    .principal-header{
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .email-academico{
        margin-top: 20px;
    }

    .row{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media(max-width: 480px){
    .principal-header{
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .header-logo img{
        width: 130px;
        height: 50px;
    }

    .header-logo h1{
        font-size: 19px;
    }

    .email-academico{
        font-size: 14px;
        margin-top: 20px;
    }
    
    .main-in{
        justify-content: space-around;
    }

    .logout-btn{
        display: none;
    }

    .logout-btn2{
        display: block;
    }

    section{
        height: 850px;
    }

    .row{
        grid-template-columns: 1fr;
        width: 95%;
    }

    footer{
        position:fixed;
    }
}